<?xml version="1.0" encoding="UTF-8"?>
<routes>
<route>
			<lang>default</lang>
			<name>posts</name>		
			<value>blog</value>
			</route><route>
			<lang>default</lang>
			<name>docs</name>		
			<value>docs</value>
			</route><route>
			<lang>default</lang>
			<name>forum</name>		
			<value>forum</value>
			</route><route>
			<lang>default</lang>
			<name>contact</name>		
			<value>contact</value>
			</route><route>
			<lang>default</lang>
			<name>cart</name>		
			<value>shop</value>
			</route><route>
			<lang>default</lang>
			<name>tag</name>		
			<value>tag</value>
			</route><route>
			<lang>default</lang>
			<name>tag</name>		
			<value>search</value>
			</route><route>
			<lang>default</lang>
			<name>tag</name>		
			<value>profile</value>
			</route><route>
			<lang>ro</lang>
			<name>posts</name>		
			<value>articole</value>
			</route><route>
			<lang>ro</lang>
			<name>docs</name>		
			<value>documentatie</value>
			</route><route>
			<lang>ro</lang>
			<name>forum</name>		
			<value>comunitate</value>
			</route><route>
			<lang>ro</lang>
			<name>contact</name>		
			<value>contact</value>
			</route><route>
			<lang>ro</lang>
			<name>cart</name>		
			<value>produse</value>
			</route><route>
			<lang>ro</lang>
			<name>tag</name>		
			<value>citeste-despre</value>
			</route><route>
			<lang>ro</lang>
			<name>tag</name>		
			<value>cautare</value>
			</route><route>
			<lang>ro</lang>
			<name>tag</name>		
			<value>profil</value>
			</route></routes>